[Desktop Entry]
Type=Application
Name=${name}
Comment=${comment}
Icon=${icon}
Exec=${exec}
GenericName=${GenericName}
Categories=${categories}
Terminal=${terminal}